In [1]:
import pandas as pd
import numpy as np

### 2) Tenemos un dataframe con la informaci√≥n de distintas playlists armadas por usuarios con el formato (playlist, song_id, description). A su vez, contamos con un dataframe de canciones que contiene (song_id, singer, year, lenght, genres).  Se pide generar un programa en Pandas que indique para cada playlist cual es el cantante predominante (con mas canciones incluidas dentro de esa lista). (**) (15 pts)

In [2]:
playlists = pd.read_csv('playlists.csv')
playlists_short = playlists [['playlist','song_id']]
playlists_short.head()

   playlist  song_id
0   classic     1000
1       pop     1001
2      rock     1002
3  new wave     1003
4   classic     1004

In [13]:
canciones = pd.read_csv ('canciones.csv')
canciones_short = canciones[['song_id','singer']]
canciones_short.head()

   song_id          singer
0     1000  Britney Spears
1     1001        Maroon 5
2     1002            RHCP
3     1003       Pearl Jam
4     1004             AIC

In [51]:
#Unifico ambos DF's y agrego columna cant para contabilizar ocurrencias despues
playlist_canciones = pd.merge(canciones_short,playlists_short, on ='song_id')
playlist_canciones['cant'] = 1
playlist_canciones.head()

   song_id          singer  playlist  cant
0     1000  Britney Spears   classic     1
1     1001        Maroon 5       pop     1
2     1002            RHCP      rock     1
3     1003       Pearl Jam  new wave     1
4     1004             AIC   classic     1

In [52]:
#Me quedo con las columnas de utilidad - no es necesario este paso
playlist_and_singers = playlist_canciones[['playlist','singer','cant']]
playlist_and_singers.head()

   playlist          singer  cant
0   classic  Britney Spears     1
1       pop        Maroon 5     1
2      rock            RHCP     1
3  new wave       Pearl Jam     1
4   classic             AIC     1

In [58]:
#Agrupo por columnas 'playlist' y 'singer' y contabilizo ocurrencias del cantante para ESA 'playlist'
singers_por_playlist = playlist_canciones.groupby(['playlist','singer'])['cant'].agg('count')
singers_por_playlist.head()

playlist  singer
classic   AIC               3
          Britney Spears    3
          Maroon 5          1
          Pearl Jam         3
          RHCP              3
Name: cant, dtype: int64

In [59]:
#Reseteo index
singers_por_playlist = singers_por_playlist.reset_index()
singers_por_playlist.head()

  playlist          singer  cant
0  classic             AIC     3
1  classic  Britney Spears     3
2  classic        Maroon 5     1
3  classic       Pearl Jam     3
4  classic            RHCP     3

In [60]:
#Agrupo por playlist y guardo el valor maximo para cada playlist en una nueva columna
singers_por_playlist['count_max'] = singers_por_playlist.groupby(['playlist'])['cant'].transform(max)
singers_por_playlist.head()

  playlist          singer  cant  count_max
0  classic             AIC     3          3
1  classic  Britney Spears     3          3
2  classic        Maroon 5     1          3
3  classic       Pearl Jam     3          3
4  classic            RHCP     3          3

In [61]:
#Para quedarme con los mas escuchados por playlist, pido igualdad entre valores de columnas 'cant' y 'count_max'
mas_escuchados_por_playlist = singers_por_playlist[singers_por_playlist['count_max']==singers_por_playlist['cant']]

In [63]:
mas_escuchados_por_playlist = mas_escuchados_por_playlist[['playlist','singer','cant']]
mas_escuchados_por_playlist.head(20)

    playlist          singer  cant
0    classic             AIC     3
1    classic  Britney Spears     3
3    classic       Pearl Jam     3
4    classic            RHCP     3
5   new wave             AIC     4
15       pop            RHCP     4
17      rock  Britney Spears     4
19      rock       Pearl Jam     4