In [2]:
import pandas as pd

reviews = pd.read_csv('ebooks-ratings.csv')

In [5]:
reviews

    user_id book_id  rating   timestamp
0         1     A01       7  2020-04-03
1         2     A02       8  2020-01-20
2         3     A03       4  2019-12-23
3         4     B01       6  2020-02-03
4         5     B02       3  2020-04-13
5         6     B03       6  2020-04-05
6         7     A02       5  2020-03-28
7         8     A03       9  2020-02-15
8         9     B08       5  2019-11-04
9         1     A07       2  2020-01-01
10        3     A07       7  2020-04-17
11        4     B02       9  2020-04-15
12       10     B06       6  2020-03-20
13       21     B06       5  2020-02-18
14       15     A01       3  2020-03-15
15        1     A02       8  2020-01-20
16        1     B01       9  2019-12-20
17        2     A07       9  2020-01-20
18        3     B02       3  2020-03-02
19       15     B08       2  2020-04-01
20       15     B03       6  2020-04-16

In [8]:
book_titles = pd.read_csv('good_reads.csv')

In [10]:
book_titles

   book_id                                     book_name  avg_rating
0      A01         Fanny Hill: Memorias de una cortesana         9.7
1      A02                              Peregrine Pickle         8.3
2      A03                        Cándido o El optimismo         8.3
3      A04  La historia de Rasselas príncipe de Abisinia         7.6
4      A05                       Julia o La nueva Eloísa         8.4
5      A06                      Emilio o de la educación         8.3
6      A07                        El castillo de Otranto         9.7
7      A08                       El vicario de Wakefield         9.6
8      A09                                Tristam Shandy         4.4
9      A10        Viaje sentimental por Francia e Italia         5.7
10     B01                            The man of Feeling         7.4
11     B02                               Humphry Clinker         6.9
12     B03             Las desventuras del joven Werther         9.7
13     B04                                       Evelina         7.2
14     B05       Las ensoñasiones del paseante solitario         8.3
15     B06                      Las amistades peligrosas         7.6
16     B07                               Las confesiones         8.5
17     B08          Las ciento veinte jornadas de Sodoma         9.2
18     B09                                  Anton Reiser         8.8
19     B10                                        Vathek         9.0
20     B11                                       Justine         8.5

In [14]:
reviews

    user_id book_id  rating   timestamp
0         1     A01       7  2020-04-03
1         2     A02       8  2020-01-20
2         3     A03       4  2019-12-23
3         4     B01       6  2020-02-03
4         5     B02       3  2020-04-13
5         6     B03       6  2020-04-05
6         7     A02       5  2020-03-28
7         8     A03       9  2020-02-15
8         9     B08       5  2019-11-04
9         1     A07       2  2020-01-01
10        3     A07       7  2020-04-17
11        4     B02       9  2020-04-15
12       10     B06       6  2020-03-20
13       21     B06       5  2020-02-18
14       15     A01       3  2020-03-15
15        1     A02       8  2020-01-20
16        1     B01       9  2019-12-20
17        2     A07       9  2020-01-20
18        3     B02       3  2020-03-02
19       15     B08       2  2020-04-01
20       15     B03       6  2020-04-16

In [17]:
reviews_by_book = reviews.set_index('book_id')

In [18]:
reviews_by_book

         user_id  rating   timestamp
book_id
A01            1       7  2020-04-03
A02            2       8  2020-01-20
A03            3       4  2019-12-23
B01            4       6  2020-02-03
B02            5       3  2020-04-13
B03            6       6  2020-04-05
A02            7       5  2020-03-28
A03            8       9  2020-02-15
B08            9       5  2019-11-04
A07            1       2  2020-01-01
A07            3       7  2020-04-17
B02            4       9  2020-04-15
B06           10       6  2020-03-20
B06           21       5  2020-02-18
A01           15       3  2020-03-15
A02            1       8  2020-01-20
B01            1       9  2019-12-20
A07            2       9  2020-01-20
B02            3       3  2020-03-02
B08           15       2  2020-04-01
B03           15       6  2020-04-16