In [1]:
import pandas as pd
import numpy as np

## 2)El equipo comercial en Argentina de instagram cuenta con informacion sumarizada de usuarios del pais en el siguiente Dta Frame (id_usuario, nickname, pais, fecha_alta, cant_seguidores, cant_seguidos, cant_tot_publicaciones). Uno de sus analistas quiere obtener los potenciales 10 influencers. El criterio para detectar un influencer es que el mismo debe:
### -Tener una cant de seguidores mayor al 80% de la maxima cant de seguidores de todos los usuarios dentro de su pais (Por ej: si un usuario es Argentino y el  max de seguidores en Argentina es 1000 entonces requerira tener al menos 800 seguidores).
### -El nuemro de usuarios que esa persona sigue no debe superar el 15% de la cant de seguidores que el tiene.
##### El criterio final para seleccionar a los candidatos sera a apartir de la mayor cantidad de seguidores que tengan.
## Escribir un programa en python Pandas que pueda obtener esos usuarios

In [2]:
jugadores = pd.read_csv('jugadores.csv')
jugadores

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones
0,738179,Cutie,argentina,2019/08/26,3354,3489,3669
1,195586,Hulk,argentina,2019/11/07,2087,4040,2446
2,564110,Smirk,argentina,2018/11/01,5978,360,4831
3,172541,Piglet,argentina,2018/04/26,1472,3451,3277
4,304173,Cold Brew,argentina,2018/04/18,4666,2035,2179
...,...,...,...,...,...,...,...
95,287351,Toots,argentina,2019/01/20,1794,1453,4464
96,434008,Bubblegum,argentina,2018/11/20,2487,4039,2327
97,684918,Beautiful,argentina,2018/09/29,1652,4472,585
98,290776,Starbuck,argentina,2018/03/09,7551,2746,1113
99,336322,Pebbles,argentina,2018/11/26,3998,199,4551

In [27]:
# Obtenemos los valores maximos para cada pais, comparamos cantidad de seguidores de cada jugador con el maxim por pais
# Se pide ademas que la cantidad de seguidos no supere el 15% de los seguidores
jugadores['max_seg_pais'] = jugadores.groupby('pais',as_index = False)['cantidad_seguidores'].transform('max')
jugadores['cumplen'] = ((jugadores['cantidad_seguidores'])>(jugadores['max_seg_pais']*0.8)) & (jugadores['cantidad_seguidos']<jugadores['cantidad_seguidores']*0.15)
jugadores_que_cumplen = jugadores [(jugadores['cumplen']==True)]  
jugadores_que_cumplen

,id_usuario,nickname,pais,fecha_alta,cantidad_seguidores,cantidad_seguidos,cantidad_publicaciones,maxima_cant_seguidores_en_pais,max_seg_pais,cumplen
6,372234,Creep,argentina,2018/06/19,8690,1244,1023,8849,8849,True
28,745872,Teeny,argentina,2016/05/13,7941,56,4182,8849,8849,True
30,253853,Barbie,mexico,2018/01/20,9777,1105,4626,9777,9777,True
46,7888,Ticklebutt,argentina,2016/08/20,7216,1064,3056,8849,8849,True
69,655653,Guapo,argentina,2017/11/15,8625,887,2941,8849,8849,True
86,121753,Turtle,argentina,2016/03/06,7426,27,4382,8849,8849,True
88,475318,Chili,argentina,2017/12/16,8361,1025,3246,8849,8849,True
94,793547,Rumplestiltskin,brasil,2015/03/20,8719,1118,1637,8719,8719,True

In [28]:
#Ordenamos de mayor a menor por cant de seguidores
posibles_influencer = jugadores_que_cumplen[['id_usuario','nickname','pais','cantidad_seguidores']]
posibles_influencer.nlargest(5,'cantidad_seguidores')

    id_usuario         nickname       pais  cantidad_seguidores
30      253853           Barbie     mexico                 9777
94      793547  Rumplestiltskin     brasil                 8719
6       372234            Creep  argentina                 8690
69      655653            Guapo  argentina                 8625
88      475318            Chili  argentina                 8361

# FIN DEL EJERCICIO